<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ossdaysserverlessapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/cb10a813-994e-4c4a-a129-22e467f0512c/resourcegroups/AzureFunctionDemo/providers/Microsoft.Web/sites/OssDaysServerlessAPI</ResourceId>
    <UserName>$OssDaysServerlessAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://ossdaysserverlessapi.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>